tr
  td(style="border-bottom:1px solid #e7e7e7;")
    center
      table.w320(cellpadding="0", cellspacing="0", width="600")
        tr
          td.mobile-padding(align="left", style="padding:20px")
            br.mobile-hide
            div
              b Bob Bobber,
              br
              | 1001 Jasper Ave.
              br
              | Victoria, B.C.
              br
              | T5T 3S2
              br
              br
              | Phone: 1 (222) 233-2231
              br
              br
              | Please review invoice below or click to view account.
            br
          td.mobile-hide(style="padding-top:20px;padding-bottom:0; vertical-align:bottom;", valign="bottom")
            table(cellspacing="0", cellpadding="0", width="100%")
              tr
                td(align="right", valign="bottom", style="padding-bottom:0; vertical-align:bottom;")
                  img(style="vertical-align:bottom;", src="https://www.filepicker.io/api/file/9f3sP1z8SeW1sMiDA48o", width="174", height="294")

