tr
  td(style="border-bottom:1px solid #e7e7e7;")
    center
      table.w320(cellpadding="0", cellspacing="0", width="800", margin-bottom="15px")
        tr
          td.mobile-padding(align="left")
            a(href="#", style="text-decoration:none;" class="logo")
              img(src=CDN("/img/logo_pp.png") width="70", alt="PP Logo")
            h2.email-title= emailTitle
