extends ../layout

block content
  .col-sm-8.col-sm-offset-2
    form(method='POST')
      legend ¿Olvidaste tu contraseña?
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        p Entra tu dirección de email y te enviaremos lad instrucciones para resetear la contraseña. 
        label.control-label(for='email') Email
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus=true)
      .form-group
        button.btn.btn-primary(type='submit')
          i.fa.fa-key
          | Resetear Contraseña
