extends ../layout

block content
  form(method='POST')
    .col-sm-8.col-sm-offset-2
      h2.subpagetitle Entrar
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label.control-label(for='email') Email
        input.form-control(type='text', name='email', id='email', placeholder='Email', autofocus=true)
      .form-group
        label.control-label(for='password') Contrase単a
        input.form-control(type='password', name='password', id='password', placeholder='Contrase単a')
      .form-group
        button.btn.btn-primary(type='submit')
          i.fa.fa-unlock-alt
          | Entrar
        //.btn.btn-primary(href='/forgot') 多Olvidaste tu contrase単a?
