extends ../layout

block content
  .col-sm-8.col-sm-offset-2
    form(method='POST')
      legend Resetear Contraseña
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label(for='password') Nueva Contraseña 
        input.form-control(type='password', name='password', value='', placeholder='Nueva contraseña', autofocus=true)
      .form-group
        label(for='confirm') Confirmar Contraseña
        input.form-control(type='password', name='confirm', value='', placeholder='Confirmar contraseña')
      .form-group
        button.btn.btn-primary.btn-reset(type='submit')
          i.fa.fa-keyboard-o
          | Cambiar Contraseña 
