#footer
  .container.text-center
    div © 2014 CoquiCoders.
    div
      strong PrimerPeso
      |  Proyecto
      |  Creado por
      a(href='http://coquicoders.org')  Coqui Coders
    div
      | Code licensed bajo&nbsp;
      a(href='http://opensource.org/licenses/mit-license.html') Licencia de MIT
    div
      a(href='https://github.com/codeforamerica/primerpeso') GitHub Project
      |  ·&nbsp;
      a(href='https://github.com/codeforamerica/primerpeso/issues') Issues
    div.pr-logo
      a(href='http://pr.gov')
        img(src=CDN("/img/prgov.png"))
      a(href='http://codeforamerica.org')
        img(src=CDN("/img/cfa-logo.png"))
