#footer
  .container.text-center
    div © 2014 CoquiCoders.
    div
      strong BizWallet
      |  Project
      |  Created by
      a(href='http://coquicoders.org')  Coqui Coders
    div
      | Code licensed under&nbsp;
      a(href='http://opensource.org/licenses/mit-license.html') MIT License
    div
      a(href='https://github.com/') GitHub Project
      |  ·&nbsp;
      a(href='https://github.com/') Issues
