#footer
  .container.text-center
    div © 2014 CoquiCoders.
    div
      strong PrimerPeso
      |  Proyecto
      |  Creado por
      a(href='http://coquicoders.org')  Coqui Coders
    div
      | Code licensed bajo&nbsp;
      a(href='http://opensource.org/licenses/mit-license.html') Licencia de MIT
    div
      a(href='https://github.com/') GitHub Project
      |  ·&nbsp;
      a(href='https://github.com/') Issues
