lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp
custom/contrib

npm-debug.log
node_modules
.env
.idea
*.iml
.DS_Store
Thumbs.db
.node-inspectorrc
*.sublime-*

public/build
dump.rdb
