extends layout

block content
  div.about
    h3 PrimerPeso se encuentra en BETA, apreciamos y agradecemos tus comentarios.
    p
      | PrimerPeso es un proyecto de Code for America en colaboración con el Gobierno de Puerto Rico. Estamos en BETA con planes de lanzar en Noviembre DE 2014.
    p
      | Estamos trabajando con las agencias del Gobierno de Puerto Rico que manejan los incentivos que encontraras aquí y mientras estemos en BETA enviamos manualmente las solicitudes a las agencias involucradas. Las agencias, por el momento, no son responsables por el funcionamiento del PrimerPeso.
    p
      | PrimerPeso es una plataforma para que los pequeños empresarios encuentren y accedan a las oportunidades de financiamiento disponibles.
    p
      | Estas son algunas de las agencias del Estado Libre Asociado de Puerto Rico que participan en ésta primera etapa:
    img(src=CDN("/img/departments2.png"))
    br
  div.center
    a.btn(href='/preguntas') ¡Empieza ahora!
  div.about
    p
      | *Las agencias se esfuerzan por lograr que la información en este sitio sea precisa, pero no podemos garantizar la exactitud e integridad de los contenidos y las mismas se desligan expresamente de toda responsabilidad por errores u omisiones en el contenido del mismo.
