extends layout

block content
  div.about
    h2.subtitle About PrimerPeso
    h3 PrimerPeso is currently in Beta. We appreciate your feedback.
    p
      | Small businesses are critical to fueling the nation’s economic growth.
      | Their ability to generate new jobs depends in large part on access to credit.
    p
      | In general but particularly for small businesses interactions with the government are burdensome and frustrating.
      | From seeking out financing opportunities to learning about the latest regulations affecting them,
      | hard-working businesses are spending too much time navigating the bureaucracy.
    p
      | PrimerPeso is the response to this challenge.
      | It is a centralized resource platform to make it easier for business owners to access fund opportunities.
      | Our mission is to connect the elegible capital to the businesses that need it.
    p
      | These are some of the agencies and institutions participating:
    img(src=CDN("/img/departments2.png"))
    br
  div.center
    a.btn(href='/fundme') Start Now!
  div.about
    p
      | *While the agencies strive to make the information on this website as timely and accurate as possible, the agencies make no claims, promises, or guarantees about the accuracy and completeness of the contents of this site, and expressly disclaims liability for errors and omissions in the contents of this site.
