extends layout

block content
  div.about
    h2.subtitle About PrimerPeso
    p
      | Small businesses are critical to fueling the nation’s economic growth.
      | Their ability to generate new jobs depends in large part on access to credit.
    p
      | In general but particularly for small businesses interactions with the government are burdensome and frustrating.
      | From seeking out financing opportunities to learning about the latest regulations affecting them,
      | hard-working businesses are spending too much time navigating the bureaucracy.
    p
      | PrimerPeso is the response to this challenge.
      | It is a centralized, online resource platform to make it easier for business owners to access fund opportunities.
      | Our mission is to connect the elegible capital to the businesses that need it.
    p
      | These are some of the agencies and institutions participating:
      | local banks, credit unions, local government, investment funds, foundations...
    img(src=CDN("/img/departments.png"))
    br
  div.center
    a.btn(href='/fundme') Start Now!
