include mixins/forms.jade
include mixins/search.jade

extends layout

block content
  div.search-intro Deselect the ones you don´t want to apply now and they will be removed
  div.opportunities-container
    +renderResultList(pickedResults)
  div.send-request-container
    form#sendRequestForm(action='results' method="GET")
      each fieldSet, fieldSetIndex in form.fields
        h3= form.options.fieldSets[ fieldSetIndex ].label
        fieldset
          each fieldSetField, fieldSetFieldIndex in fieldSet
            +makeField(fieldSetField)



