include mixins/forms.jade
include mixins/search.jade

extends layout

block content
  - var oppCount = 0;
  div.search-intro.results Estos son los programas que has seleccionado para solicitar más información a las agencias.
  div.opportunities-container
    +renderResultList(pickedResults)
  div.send-request-container
    a.btn.removeItem.back(href='/results') Volver a programas
    h3.additional-info Necesitamos información adicional sobre ti para enviar a las agencias que manejan los programas que has seleccionado. Esta información será almacenada de forma segura y no será utilizada para ningún otro propósito.
    form#sendRequestForm(action='/sendlead' method="POST")
      input(type='hidden', name='_csrf', value=_csrf)
      each fieldSet, fieldSetIndex in form.fields
        h3= form.options.fieldSets[ fieldSetIndex ].label
        fieldset
          each fieldSetField, fieldSetFieldIndex in fieldSet
            +makeField(fieldSetField)
