include mixins/forms.jade

extends layout

block content
  form#fundMeWizard(action='results' method="GET")
    //input(type='hidden', name='_csrf', value=_csrf)
    each fieldSet, fieldSetIndex in form.fields
      h3= form.options.fieldSets[ fieldSetIndex ].label
      fieldset
        each fieldSetField, fieldSetFieldIndex in fieldSet
          +makeField(fieldSetField)

  div.mandatory  *Campo requerido
