include mixins/forms.jade

extends layout

block content
  h2.page-header Fund Me
  form#fundMeWizard(action='oppquery/execute' method="GET")
    h3 #{form.aboutYou.title}
    fieldset
      +choiceField(form.aboutYou.gender)
      +choiceField(form.aboutYou.age)
      +textField(form.aboutYou.name)
      p (*) Mandatory

    h3 #{form.purpose.title}
    fieldset
      +choiceField(form.purpose.needed_for)
      +choiceField(form.purpose.investing_own)
      p (*) Mandatory


