include mixins/custom/forms.jade

extends layout

block content
  h2.page-header Fund Me
  form#fundMeWizard(action='#')
    h3 #{form.aboutYou.title}
    fieldset
      +choiceFieldSet(form.aboutYou.gender)
      +choiceFieldSet(form.aboutYou.age)
      p (*) Mandatory

    h3 #{form.purpose.title}
    fieldset
      +choiceFieldSet(form.purpose.needed_for)
      +choiceFieldSet(form.purpose.investing_own)
      p (*) Mandatory


