include mixins/forms.jade

extends layout

block content
  h2.page-header #{title}
  form#fundMeWizard(action='oppquery/execute' method="GET")
    each fieldSet, fieldSetIndex in form.fields
      - console.log('DEBUG')
      - console.log(fieldSetIndex);
      - console.log(fieldSet);
      h3= form.options.fieldSets[ fieldSetIndex ].label
      fieldset
        each fieldSetField, fieldSetFieldIndex in fieldSet
          div(id=fieldSetFieldIndex)
            +makeField(fieldSetField)

