extends layout

block content
  .landing
    .landing-header
      h1.title BizWallet
      h2.subtitle Find the resources you need to grow your business in Puerto Rico.
      a.btn Start Now!
    .landing-body-left
      img(src="/img/search.png")
      h2 Guided Search
      p It's hard to know what financial resources are available to help fuel your growth.
      img(src="/img/right.png")
    .landing-body-right
      img(src="/img/filters.png")
      h2 Built-In Filter
      p Once you find them, it's even harder to filter through the many programs available to small business owners and find the ones you qualify for.
      br
      img(src="/img/left.png")
    .landing-body-left
      img(src="/img/applications.png")
      h2 Streamlined Application
      p It's even more complicated to apply for one of those programs. The application process is either offline or unpredictable.
    .landing-last
      h2 BizWallet is here to help you!
      p This is an online tool to guide small business owners through the process of finding and applying for financial resources which are tailored to them.
      br
      a.btn Get Started!
