extends layout

block content
  h1 BizWallet
  h2 Find the resources you need to launch or grow your business in Puerto Rico.
  h2 Guided Search
  p
  | It's hard to know what financial resources are available to help fuel your growth. 
  h2 Built-In Filter
  p
  | Once you find them, it's even harder to filter through the many programs available to small business owners and find the ones you qualify for.
  br
  h2 Streamlined Application
  p
  | It's even more complicated to apply for one of those programs. The application process is either offline or unpredictable.
  h2 BizWallet is here to help you!
  p
  | This is an online tool to guide small business owners through the process of finding and applying for financial resources which are tailored to them.
  br
  input(type="button", specialID="someSpecialID", onclick="doSomething(specialID);")
