extends layout

block content
  div.congratulations-message
    h2 ¡Felicitaciones, #{leadData.name}!
    h3 Has solicitado información para los siguientes programas:
      ul
        each progData, pIndex in selectedPrograms
            li= progData.title

    h3 Muchas gracias! Hemos recibido tu información y  la enviaremos manualmente a las agencias.
    h5 PrimerPeso está en BETA con planes de lanzar en Noviembre. El proceso aún está siendo testeado y puede demorar un poco más de lo previsto.
    h5 Agradecemos tu paciencia.
  div.additional-options
    h3 Si quieres ver otros programas &nbsp;
      a(href="/preguntas") empieza nuevamente.
    br
    | Por favor envíanos tus comentarios.
    br
    iframe(src="https://www.surveymonkey.com/s/HMKWJYJ" height="400px" width="500px")
    br
    | Si te pareció una herramienta útil, por favor, compártela con tus amigos en las redes sociales.
    br
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://primerpeso.com" data-lang="en">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    br
  <div class="fb-share-button" data-href="http://primerpeso.com" data-width="500px"></div>
  <div id="fb-root"></div>
  script.
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=777642008924431&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
