extends layout

block content
  div
    Hey #{leadData.name} we sent your info!
  div
    | You can either &nbsp;
    a(href="/fundme") restart
    | &nbsp or read more info about starting your business!

