extends layout

block content
  div.congratulations-message
    h2 Felicitaciones, #{leadData.name} hemos enviado tu información a la agencia.
    h2 Un empleado de Gobierno se contactará pronto!
  div.additional-options
    h3 Si quieres buscar otros programas puedes
      a(href="/fundme")  empezar nuevamente.
    br
    | Por favor envianos tus comentarios.
    br
    iframe(src="https://www.surveymonkey.com/s/HMKWJYJ" height="400px" width="500px")
    br
    | Si te pareció una herramienta útil por favor compartela en las redes sociales. 
    br
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://bizwallet.herokuapp.com" data-lang="en">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    br
  <div class="fb-share-button" data-href="http://bizwallet.herokuapp.com" data-width="500px"></div>
  <div id="fb-root"></div>
  script.
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=777642008924431&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
