include mixins/search.jade

extends layout

block content
  #shopping-cart
  +searchResultNav(searchResult)
  div.search-intro Select the ones you are interested in to build your application. You can select as many as you want.
  div.opportunities-container
    +renderResultList(searchResult)


