include mixins/search.jade

extends layout

block content
  - var oppCount = 0;
  div(id="shopping-cart")
  +searchResultNav(searchResult)
  div.search-intro.results Escoge los programas de tu interés. Puedes agregar la cantidad que desees.
  div.opportunities-container
    +renderStructuredResultList(searchResult)
