doctype transitional
html(xmlns="http://www.w3.org/1999/xhtml")
  include ../common/head
  body.body(style="padding:0; margin:0; display:block; background:#ffffff; -webkit-text-size-adjust:none", bgcolor="#ffffff")
    table(align="center", cellpadding="0", cellspacing="0", width="100%", height="100%")
      tr
        td(align="center", valign="top", bgcolor="#ffffff", width="100%")
          table(cellspacing="0", cellpadding="0", width="100%")
            tr
              td(style="background:#1f1f1f", width="100%")
                center
                  table.w320(cellspacing="0", cellpadding="0", width="600")
                    tr
                      td.mobile-block.mobile-no-padding-bottom.mobile-center(valign="top", width="270", style="background:#1f1f1f;padding:10px 10px 10px 20px;")
                        a(href="#", style="text-decoration:none;")
                          img(src="https://www.filepicker.io/api/file/X9R4FqRPaEIS3vMxFXgl", width="142", height="30", alt="Your Logo")
                      td.mobile-block.mobile-center(valign="top", width="270", style="background:#1f1f1f;padding:10px 15px 10px 10px")
                        table.mobile-center-block(border="0", cellpadding="0", cellspacing="0", align="right")
                          tr
                            td(align="right")
                              a(href="#")
                                img(src="http://keenthemes.com/assets/img/emailtemplate/social_facebook.png", width="30", height="30", alt="social icon")
                            td(align="right", style="padding-left:5px")
                              a(href="#")
                                img(src="http://keenthemes.com/assets/img/emailtemplate/social_twitter.png", width="30", height="30", alt="social icon")
                            td(align="right", style="padding-left:5px")
                              a(href="#")
                                img(src="http://keenthemes.com/assets/img/emailtemplate/social_googleplus.png", width="30", height="30", alt="social icon")
                            td(align="right", style="padding-left:5px")
                              a(href="#")
                                img(src="http://keenthemes.com/assets/img/emailtemplate/social_linkedin.png", width="30", height="30", alt="social icon")
                            td(align="right", style="padding-left:5px")
                              a(href="#")
                                img(src="http://keenthemes.com/assets/img/emailtemplate/social_rss.png", width="30", height="30", alt="social icon")
            tr
              td(style="border-bottom:1px solid #e7e7e7;")
                center
                  table.w320(cellpadding="0", cellspacing="0", width="600")
                    tr
                      td.mobile-padding(align="left", style="padding:20px")
                        br.mobile-hide
                        div
                          b Bob Bobber,
                          br
                          | 1001 Jasper Ave.
                          br
                          | Victoria, B.C.
                          br
                          | T5T 3S2
                          br
                          br
                          | Phone: 1 (222) 233-2231
                          br
                          br
                          | Please review invoice below or click to view account.
                        br
                        table(cellspacing="0", cellpadding="0", width="100%", bgcolor="#ffffff")
                          tr
                            td(style="width:100px;background:#D84A38;")
                              div
                                //if mso
                                  v:roundrect(xmlns:v="urn:schemas-microsoft-com:vml", xmlns:w="urn:schemas-microsoft-com:office:word", href="#", style="height:33px;v-text-anchor:middle;width:100px;", arcsize="8%", stroke="f", fillcolor="#D84A38")
                                    w:anchorlock
                                      center(style="color:#ffffff;font-family:sans-serif;font-size:13px;") My Account
                                // [if !mso] <!
                                a(href="#")
                                  table(cellspacing="0", cellpadding="0", width="100%")
                                    tr
                                      td(style="background-color:#D84A38;border-radius:0px;color:#ffffff;display:inline-block;font-family:sans-serif;font-weight:bold;font-size:13px;line-height:33px;text-align:center;text-decoration:none;width:100px;-webkit-text-size-adjust:none;mso-hide:all;")
                                        span(style="color:#ffffff") My Account
                                // <![endif]
                            td(width="281", style="background-color:#ffffff; font-size:0; line-height:0;") &#160;
                      td.mobile-hide(style="padding-top:20px;padding-bottom:0; vertical-align:bottom;", valign="bottom")
                        table(cellspacing="0", cellpadding="0", width="100%")
                          tr
                            td(align="right", valign="bottom", style="padding-bottom:0; vertical-align:bottom;")
                              img(style="vertical-align:bottom;", src="https://www.filepicker.io/api/file/9f3sP1z8SeW1sMiDA48o", width="174", height="294")
            tr
              td(valign="top", style="background-color:#f8f8f8;border-bottom:1px solid #e7e7e7;")
                center
                  table.w320(border="0", cellpadding="0", cellspacing="0", width="600", style="height:100%;")
                    tr
                      td.mobile-padding(valign="top", style="padding:20px;")
                        table(cellspacing="0", cellpadding="0", width="100%")
                          tr
                            td(style="padding-right:20px")
                              b Plan
                            td(style="padding-right:20px")
                              b Period
                            td
                              b Amount
                          tr
                            td(style="padding-top:5px;padding-right:20px; border-top:1px solid #E7E7E7; ")
                              | Silver Monthly
                            td(style="padding-top:5px;padding-right:20px; border-top:1px solid #E7E7E7;")
                              | Dec 4, 2013 - Jan 4, 2014
                            td.mobile(style="padding-top:5px; border-top:1px solid #E7E7E7;")
                              | $160.00
                        table(cellspacing="0", cellpadding="0", width="100%")
                          tr
                            td(style="padding-top:35px;")
                              table(cellpadding="0", cellspacing="0", width="100%")
                                tr
                                  td.mobile-hide(width="350", style="vertical-align:top;")
                                    | Thank you for your business. Please
                                    a(href="#") contact us
                                    | with any questions regarding your order,
                                    br
                                    h4
                                      | Awesome Co
                                      h4
                                  td.mobile-block(style="padding:0px 0 15px 30px;")
                                    table(cellspacing="0", cellpadding="0", width="100%")
                                      tr
                                        td Subtotal:
                                        td
                                          b  $160.00
                                      tr
                                        td Tax
                                        td $8.00
                                      tr
                                        td Amount Due:
                                        td
                                          b $168.00
                                      tr
                                        td Due by:
                                        td Feb 4, 2014
                                tr
                                  td.desktop-hide(style="vertical-align:top;")
                                    | Thank you for your business. Please contact us with any questions regarding this invoice,
                                    br
                                    br
                                    | Awesome Co
            tr
              td(style="background-color:#1f1f1f;")
                center
                  table.w320(border="0", cellpadding="0", cellspacing="0", width="600", style="height:100%;color:#ffffff", bgcolor="#1f1f1f")
                    tr
                      td.mobile-padding(align="right", valign="middle", style="font-size:12px;padding:20px; background-color:#1f1f1f; color:#ffffff; text-align:left; ")
                        a(style="color:#ffffff;", href="#") Contact Us
                        | |
                        a(style="color:#ffffff;", href="#") Facebook
                        | |
                        a(style="color:#ffffff;", href="#") Twitter
                        | |
                        a(style="color:#ffffff;", href="#") Support
