// Attributes brough in implicitly
// See http://jade-lang.com/reference/#mixins

mixin searchResultNav(searchResult)
  ul(class="nav nav-tabs nav-justified" role="tablist")
    li
      a(href="#") All
    li
      a(href="#") Loans
    li
      a(href="#") Grants
    li
      a(href="#") Incentives
    li
      a(href="#") Expertise



